@model string;

<div style="position:fixed;right:10px;bottom:10px;">
    <a asp-action="Create" asp-controller="@Model" class="btn btn-success text-white"><i class="fa-regular fa-plus"></i> Add New</a>
</div>